.navbar-custom {
  background: #000 !important;
}

.menu-bars {
  background: none;
  border: none;
  outline: 0;
}

.menu-bars i {
  font-size: 32px;
  font-weight: 300;
}

.intro .intro-body .brand-heading h1 {
  font-size: 32px !important;
}

.intro {
  padding: 250px 0px 50px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.info-read {
  padding: 40px 40px 10px 40px;
}

.info-read .box {
  background: #000;
  padding: 40px;
  text-align: left;
  border: 1px solid #212020;
}

.info-read .sub-heading h4 {
  text-transform: capitalize;
}

.info-read .box-dim {
  background: #1a1a1a;
}

.info-read .box-dark {
  background: #0d0d0d;
}

.count {
  padding: 0px 40px 10px 40px;
}

.count #map {
  margin-top: 0px;
}

.count .box {
  padding: 50px 0px;
  height: 200px;
  border: 1px solid #212020;
}

.count .box h1 {
  margin: 0px;
}

.count .box p {
  margin: 0 0 10px;
}

.count .box-dim {
  background: #1a1a1a;
}

.count .box-dark {
  background: #0d0d0d;
}

.side-tabs-news {
  padding: 40px;
}

.side-tabs-news .side-nav-wrapper {
  padding: 0px 40px;
}

.side-tabs-news .side-nav-wrapper ul li {
  padding: 20px 0px;
}

.side-tabs-news .side-nav-wrapper ul li a {
  color: white;
}

.side-tabs-news .side-nav-wrapper ul .active a {
  color: #42DCA3;
}

.tab-content {
  padding: 0px 40px 10px 40px;
}

.tab-content .box {
  background: #000;
  padding: 40px;
  text-align: left;
  border: 1px solid #212020;
  min-height: 400px;
}

.tab-content .sub-heading h4 {
  text-transform: capitalize;
}

.tab-content .box-dim {
  background: #1a1a1a;
}

.tab-content .box-dark {
  background: #0d0d0d;
}

.collapse-btn {
  background: none;
  font-size: 32px;
  border: none;
  outline: 0;
}

.collapse-dim {
  background: #0d0d0d;
  margin-bottom: -20px;
  margin-top: 20px;
}

.collapse-dim .card-body {
  padding: 10px 20px 10px 0px;
}

.collapse-dim .card-body a {
  display: block;
  padding: 15px;
  text-transform: capitalize;
}

.collapse-dim .card-body a ul li {
  font-size: 12px;
  font-weight: 300;
  padding: 10px 0px 0px 0px;
}

.collapse-dim .card-body a ul li span {
  font-weight: 500;
  font-size: 13px;
  padding: 0px 0px 20px 0px;
}

.collapse-dim .card-body a:hover ul li span {
  color: #42DCA3;
}
/*# sourceMappingURL=style.css.map */