.navbar-custom{
    background: #000 !important;
}

.menu-bars{
    background: none;
    border: none;
    outline: 0;
    i{
        font-size: 32px;
        font-weight: 300;
    }
}

.intro .intro-body .brand-heading{
    h1{
        font-size: 32px !important;
    }
}
.intro{
    padding: 250px 0px 50px;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
 }

.info-read{
    padding: 40px 40px 10px 40px;
    .box{
        background: #000;
        padding: 40px;
        text-align: left;
        border: 1px solid #212020;
    } 
    .sub-heading{
        h4{
            text-transform: capitalize;
        }
    }
    .box-dim{
        background: lighten(#000, 10%);
    }
    .box-dark{
        background: lighten(#000, 5%);
    }
}

.count{
    padding: 0px 40px 10px 40px;
    #map{
        margin-top: 0px;
    }

    .box{
        padding: 50px 0px;
        height: 200px;
        border: 1px solid #212020;
        h1{
            margin: 0px;
        }
        p{
            margin: 0 0 10px;
        }
    }
    .box-dim{
        background: lighten(#000, 10%);
        
    }
    .box-dark{
        background: lighten(#000, 5%);
    }
}

.side-tabs-news{
    padding: 40px;

    .side-nav-wrapper{
        padding: 0px 40px ;

        ul{
            li{
                padding: 20px 0px;
                a{
                    color: white;
                }

            }
            .active{
                a{
                    color:#42DCA3;
                }
            }
        }
    }
}
.tab-content{
    padding: 0px 40px 10px 40px;
    
    .box{
        background: #000;
        padding: 40px;
        text-align: left;
        border: 1px solid #212020;
        min-height: 400px;
    } 
    .sub-heading{
        h4{
            text-transform: capitalize;
        }
    }
    .box-dim{
        background: lighten(#000, 10%);
    }
    .box-dark{
        background: lighten(#000, 5%);
    }
}

.collapse-btn{
    background: none;
    font-size: 32px;
    border: none;
    outline: 0;
}

.collapse-dim{
    background: lighten(#000, 5%); 
    margin-bottom: -20px;
    margin-top: 20px;

    .card-body{
        padding: 10px 20px 10px 0px;
        a{
            display: block;
            padding: 15px;
            text-transform: capitalize;
            ul{
                li{
                    font-size: 12px;
                    font-weight: 300;
                    padding: 10px 0px 0px 0px;
                    
                    span{
                        font-weight: 500;
                        font-size: 13px;
                        padding: 0px 0px 20px 0px
                    }
                }
            }
            &:hover{        
                    ul{
                        li{
                            span{
                                color: #42DCA3;
                            }
                        }
                    }
            }
        }
    }
}